<!DOCTYPE html>
<html>
<head>
	<!--Hosted Libraries Jquery-->
	<script src="../lib/jquery.js"></script>
	<!--Framework bootstrap CSS-->
	<link rel="stylesheet" href="../lib/boos/css/bootstrap.css">
	<!--Google Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet">
	<!--Characters Special-->
	<meta charset="utf-8">
	<!--Styles-->
	<link rel="stylesheet" href="../css/register.css">
	<!--Icon-->
	<link rel="icon" href="../img/pika.png">
	<title>Register</title>
</head>
<body>
	<p contenteditable>&lt;development id="Registo en desarrollo con Firebase" /&gt;</p>
	<p><span class="soon">:D</span></p><br>
	<center>
		<button class="btn btn-danger"><a href="../index.html">return</a></button>
	</center>
	

	<script src="../lib/boos/js/bootstrap.js"></script>
</body>
</html>